@import "https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap";
body {
    margin: 0;
}
nav {
    margin: 0;
    display: flex;
    width: 100%;
    background-color: #6464e3;
}
.nav-div {
    display: flex;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
}
header {
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
}

/*TODO: determine color schemes for website links/hovers*/

a:link {
    color: white;
    background-color: #6464e3;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: white;
}